In [1]:
%load_ext sql
%sql postgresql+psycopg2://postgres-readonly:ZY>[#4Bmx0AFDOkE@etl-relational-database.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/postgres

(psycopg2.OperationalError) could not translate host name "etl-relational-database.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com" to address: nodename nor servname provided, or not known

(Background on this error at: http://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [2]:
%sql select facid as "Facility ID", COUNT(starttime) as "Total Bookings" from bookings group by facid order by facid limit 1000

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%sql select memid, COUNT(bookid) as "Booking Count" from bookings where memid != 0 group by memid order by "Booking Count" DESC limit 5

Notes on the challenge:
- For this challenge, I opted to use sql to create the required table. 
- To get the top 5 members, I paid attention to the memid column and bookid column. The data was extracted from the bookings table. 
- I assumed for each row in the memid column where the value is not 0 that indicates a member, which would mean that all memid's referred to as 0 are non-members under this assumption.
- So each row that isn't 0 is counted as a member and for the transformation, I counted the bookid amd renamed it as "Booking Count". 
- This then gives me a table with Memid and Booking count. 
- This is ordered using the DESC statement so I can see the highest count first. 
- To see the Top 5, I use the limit statement to "limit 5"